/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .navbarMargin{
    min-height: 50px;
  }
  .card{
  height: 250px;
  width: 300px;
}

#hr_mobile{
  display: none;
}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbarMargin{
    min-height: 50px;
  }
.card{
  height: 250px;
  width: 300px;
}


}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
.navbarMargin{
    min-height: 50px;
  }
  .card{
  height: 250px;
  width: 300px;
}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .navbarMargin,.navbarMargin_home{
    min-height: 55px;
  }
 
  .navbarMargin_home{
    min-height: 40px;
  }
  .card{
  height: 80vw;
  width: 80vw;
}


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
.navbarMargin{
    min-height: 40px;
  }
  .navbarMargin_home{
    min-height: 40px;
  }
  
  .card{
  height: 80vw;
  width: 80vw;
}

#clockdiv .seconds_div{
    display: none;
}

}


@media (min-width: 250px) and (max-width: 320px) {
.navbarMargin{
    min-height: 40px;
  }
  .navbarMargin_home{
    min-height: 50px;
  }
  .card{
  height: 80vw;
  width: 80vw;
}

#clockdiv .seconds_div{
    display: none;
}

}